{% if pagination %}
  {% if pagination.pages %}
  <div class="block-pagination block-pager">
    <ul class="pager block-pager-list">
      {% if pagination.prev %}
      <li class="pager-item pager-prev {{ pagination.prev.class }}"><a href="{{ pagination.prev.link }}">&#8249;</a></li>
      {% endif %}
      {% for page in pagination.pages %}
        {% if page.link %}
        <li class="pager-item {{ page.class }} ">
          <a href="{{ page.link }}" class="{{ page.class }}">{{ page.title }}</a>
        </li>
        {% else %}
          <li class="pager-item active {{ page.class }}"><span>{{ page.title }}</span></li>
        {% endif %}
      {% endfor %}
      {% if pagination.next %}
      <li class="pager-item pager-next {{ pagination.next.class }}"><a href="{{ pagination.next.link }}">&#8250;</a></li>
      {% endif %}
    </ul>
  </div>
  {% endif %}
{% endif %}
