{% if product.thumbnail.src('shop_single') %}
{% set product_img_url = product.thumbnail.src('shop_single') %}
{% else %}
{% set product_img_url = fn('wc_placeholder_img_src') %}
{% endif %}

<div class="product-item {% if product_class %}{{ product_class }}{% endif %}">
  <div class="product-item-inner">
    <a class="product-link" href="{{ product.link }}"></a>
    <div class="product-image" style="background-image: url({{ product_img_url }});">
      <img src="{{ product_img_url }}" alt>
    </div>
    <div class="product-info">
      {#{ fn('wc_get_product', product.ID)|print_r }#}
      <h3 class="product-title">{{ product.title }}</h3>
      <div class="product-price">
        {% if fn('wc_get_product', product.ID).get_sale_price %}
        <span class="product-regular-price">{{ (fn('wc_get_product', product.ID).get_regular_price)|number_format(0, '', ',') ~ ' ' ~ fn('get_woocommerce_currency_symbol') }}</span>
        </span>
        {% endif %}
        {% if fn('wc_get_product', product.ID).get_price %}
        <span class="product-sale-price">{{ (fn('wc_get_product', product.ID).get_price)|number_format(0, '', ',') ~ ' ' ~ fn('get_woocommerce_currency_symbol') }}
        {% else %}
        <span class="product-sale-price">{{ pll_e('Contact') }}
        {% endif %}
      </div>
    </div>
  </div>
</div>