{% extends "layout.twig" %}

{% block content %}
  <div class="page-container-inner">

  {% include 'breadcrumb.twig' %}

  {% do action('woocommerce_before_single_product') %}

  <article itemscope itemtype="https://schema.org/Product" class="single-product-details {{ post.class }}">
    <div class="row">
      <div class="col-md-12 hidden-on-desktop product-header-mobile">
        <h1 class="product_title entry-title">{{ post.title }}</h1>
        <div class="product-sku"><label>{{ pll_e('sku') }}:</label> {{ fn('wc_get_product').get_sku }}</div>
        <div class="price">{{ fn('wc_get_product').get_price_html }}</div>
      </div>

      <div class="single-product-image entry-images col-md-7">
        {% do action('woocommerce_before_single_product_summary') %}
        <div class="product-description">{{ fn('wc_get_product').get_short_description }}</div>
      </div>

      <div class="single-product-fullcontent col-md-5">
        <div class="summary entry-summary">
          {% if post.get_field('facebook_pixel_form') %}
            <h1 class="product_title entry-title">{{ post.title }}</h1>
            <div class="price">{{ fn('wc_get_product').get_price_html }}</div>
            <div class="product-subscribe">
              {{ fn('shortcode', '[contact-form-7 id="' ~ post.get_field('add_to_cart_form') ~ '"]') }}
            </div>

            <script type="text/javascript">
            document.getElementById('SubmitProduct').addEventListener('click', function() {
              var $user_name = jQuery('.product-subscribe input[name="user-name"]').val();
                  $user_email = jQuery('.product-subscribe input[name="user-email"]').val();
                  $user_mobile = jQuery('.product-subscribe input[name="user-mobile"]').val();

              jQuery('.product-subscribe input[name="product-title"]').val("{{ post.title }}");

              if ( $user_name.length !== 0 && $user_mobile.length !== 0 ) {
                fbq('track', 'SubmitApplication', {
                  product_title: "{{ post.title }}",
                  product_price: "{{ fn('wc_get_product', post.ID).get_price }}",
                  user_name: $user_name,
                  user_email: $user_email,
                  user_mobile: $user_mobile,
                });
              }
            }, false);
            </script>
          {% else %}
            {% do action('woocommerce_single_product_summary') %}
          {% endif %}
        </div>

        <div class="product-content js-accordion">
        {% if post.content %}
          <div class="accordion-item">
            <h3 class="accordion-title">{{ pll_e('Product Info') }}</h3>
            <div class="accordion-content">{{ post.content|shortcodes }}</div>
          </div>
        {% endif %}
        {% if post.get_field('return_and_policy') %}
          <div class="accordion-item">
            <h3 class="accordion-title">{{ pll_e('Return & Refund Policy') }}</h3>
            <div class="accordion-content">{{ post.get_field('return_and_policy')|shortcodes }}</div>
          </div>
        {% endif %}
        {% if post.get_field('shipping_info') %}
          <div class="accordion-item">
            <h3 class="accordion-title">{{ pll_e('Shipping Info') }}</h3>
            <div class="accordion-content">{{ post.get_field('shipping_info')|shortcodes }}</div>
          </div>
        {% endif %}
        </div>

        {% include 'social-detail.twig' with {'permalink': post.link} %}

        {% do action('woocommerce_after_single_product_summary') %}

        <meta itemprop="url" content="{{ post.link }}" />
      </div>
    </div>
  </article>

  {% do action('woocommerce_after_single_product') %}
  </div>
{% endblock  %}
