{% block footer %}
  <footer id="footer" class="footer footer-wrapper">
    <div class="container">
      <div class="footer-inner">
        <div class="footer-pannel">
          <div class="row">
            <div class="col-md-4">
            <div class="block-newsletter">
              <h2 class="block-title">{{ fn('get_the_title', 167) }}</h2>
              {{ fn('shortcode', '[mc4wp_form id="167"]') }}
              </div>
            </div>
            {% for key, footer in fn('array_unset', footer_widget, '_multiwidget') %}
              <div class="col-md-8">
                <div class="row">
                  {{ function('acfwidget', 'footer_components', 'footer_widget-' ~ key ) }}
                </div>
              </div>
            {% endfor %}
          </div>
        </div>

        <div class="footer-bottom">
          {% for key, footer in fn('array_unset', footer_widget, '_multiwidget') %}
            <div class="block-copyright">
            {{ fn('get_field', 'footer_copyright', 'widget_footer_widget-' ~ key ) }}
            </div>
          {% endfor %}
        </div>
      </div>
    </div>

    <div class="back-to-top js-back-top">{{ __('Back to Top', 'ffw_theme') }}</div>

    {% if popup_banner_image and fn('is_front_page') %}
    <div class="popup-banner">      
      <div style="display: none;" id="popup-banner-content">
        <a href="{{ popup_banner_url }}" target="_blank"><img src="{{ popup_banner_image }}" alt></a>
      </div>
    </div>
    {% endif %}
  </footer>
{% endblock %}
