{% extends 'layout.twig' %}

{% block head %}
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
    <link href="https://fonts.googleapis.com/css?family=Muli:600" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Fira+Sans" rel="stylesheet">
    <link rel="stylesheet" href="{{ site.theme.link }}/dist/css/user-custom.css"/>
{% endblock %}


{% block content %}

    <div class="container-fluid content">
        <div class="row">
            <div class="col-lg-6 col-sm-12 col-md-6 layout-left">
                <div id="content-layout-left">
                    <div class="text-layout-left">The Street Is</div>
                    <div class="text-layout-left">My Runway</div>

                    <div class="bt-shop-collection">Shop the Collection</div>


                    <img id="img-layout-left" src=" {{ TimberImage(collection.image_collection).src }}"/>
                </div>
            </div>

            <div class="col-lg-6 col-sm-12 col-md-6 img-right">
            </div>

        </div>

        <div class="row">
            <div class="col-lg-2 col-sm-0"></div>
            <div class="col-lg-8 col-sm-12 text-content-mid">
                <div class="col-12">
                    <div class="text-layout-left">Our Brand</div>
                    <div class="text-layout-left">New Designs ‏</div>
                </div>
            </div>
            <div class="col-lg-2 col-sm-0"></div>
        </div>

        <div class="row">
            <div class="col-lg-2 col-sm-0"></div>

            <div class="col-lg-3 col-sm-12">
                <div class="col">
                    <img src="{{ site.theme.link }}/dist/images/img/product1.png" width="100%" alt=""/>
                    <h3 class="name-product">Lulu Bandana</h3>
                    <div class="price-product">$10.00</div>
                </div>

                <div class="col product-two">
                    <div class="main-product-two">
                        <div class="special-edition">Special Edition</div>
                        <img class="img-product-two" src="{{ site.theme.link }}/dist/images/img/product2.png"
                             width="100%" alt=""/>
                    </div>
                    <h3 class="name-product">Coco coat</h3>
                    <div class="price-product">$40.00</div>
                </div>

            </div>

            <div class="col-lg-5 col-sm-12">
                <div class="col">
                    <img src="{{ site.theme.link }}/dist/images/img/product.png" width="100%" alt=""/>
                    <h3 class="name-product">Pepe Collar</h3>
                    <div class="price-product">$15.00</div>
                </div>

                <div class="col">
                    <div class="text-shop-all">Shop All</div>
                </div>

            </div>

            <div class="col-lg-2 col-sm-0"></div>

        </div>

        <div class="col">

            <div class="row text-instagram">
                <div class="col-lg-2 col-sm-0"></div>
                <div class="col-lg-8 col-sm-12 content-instagram">
                    <div class="follow">
                        <div class="text-follow">Follow Our</div>
                        <div class="text-follow">Pawprints On‏</div>
                        <div class="text-follow">Instagram</div>
                        <div class="text-follow-tag">#lulunpepe</div>
                    </div>
                </div>
                <div class="col-lg-2 col-sm-0"></div>
            </div>

            <div class="row instargram">
                <div class="col-lg-2 col-sm-0"></div>
                <div class="col-lg-8 col-sm-12">
                    <div class="row">
                        <div class="col-lg-4  col-sm-12 img-instargram wrapper">
                            <div class="hover">
                            <span class="text">
                                <i class="fa fa-heart-o" aria-hidden="true"></i> 5
                                <i class="fa fa-comment-o" aria-hidden="true"></i> 5
                            </span>
                            </div>
                            <img src="{{ site.theme.link }}/dist/images/img/intg1.jpg" alt="" width="100%">
                        </div>

                        <div class="col-lg-4  col-sm-12 img-instargram wrapper">
                            <div class="hover">
                            <span class="text">
                                <i class="fa fa-heart-o" aria-hidden="true"></i> 5
                                <i class="fa fa-comment-o" aria-hidden="true"></i> 5
                            </span>
                            </div>
                            <img src="{{ site.theme.link }}/dist/images/img/intg1.jpg" alt="" width="100%">
                        </div>

                        <div class="col-lg-4  col-sm-12 img-instargram wrapper">
                            <div class="hover">
                            <span class="text">
                                <i class="fa fa-heart-o" aria-hidden="true"></i> 5
                                <i class="fa fa-comment-o" aria-hidden="true"></i> 5
                            </span>
                            </div>
                            <img src="{{ site.theme.link }}/dist/images/img/intg1.jpg" alt="" width="100%">
                        </div>

                        <div class="col-lg-4  col-sm-12 img-instargram wrapper">
                            <div class="hover">
                            <span class="text">
                                <i class="fa fa-heart-o" aria-hidden="true"></i> 5
                                <i class="fa fa-comment-o" aria-hidden="true"></i> 5
                            </span>
                            </div>
                            <img src="{{ site.theme.link }}/dist/images/img/intg1.jpg" alt="" width="100%">
                        </div>

                        <div class="col-lg-4  col-sm-12 img-instargram wrapper">
                            <div class="hover">
                            <span class="text">
                                <i class="fa fa-heart-o" aria-hidden="true"></i> 5
                                <i class="fa fa-comment-o" aria-hidden="true"></i> 5
                            </span>
                            </div>
                            <img src="{{ site.theme.link }}/dist/images/img/intg1.jpg" alt="" width="100%">
                        </div>

                        <div class="col-lg-4  col-sm-12 img-instargram wrapper">
                            <div class="hover">
                            <span class="text">
                                <i class="fa fa-heart-o" aria-hidden="true"></i> 5
                                <i class="fa fa-comment-o" aria-hidden="true"></i> 5
                            </span>
                            </div>
                            <img src="{{ site.theme.link }}/dist/images/img/intg1.jpg" alt="" width="100%">
                        </div>
                    </div>
                </div>
                <div class="col-lg-2 col-sm-0"></div>
            </div>

        </div>

    </div>

{% endblock %}


{% block footer_scripts %}
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
            integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
            crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
            integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
            crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
            integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
            crossorigin="anonymous"></script>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

    <script>
        $(document).ready(function () {
            $(".hover").hover(function () {
                $(this).find(".text").css({"display": "block"});
            }, function () {
                $(this).find(".text").css({"display": "none"});
            });
        });
    </script>

{% endblock %}
