{% extends 'layout.twig' %}

{% block content %}
  {% for post in posts %}
    {% if post.get_field('banner_image') %}
      {% set block_class = 'col-md-6' %}
    {% else %}
      {% set block_class = 'col-md-12' %}
    {% endif %}

    <div class="row">
      {% if post.get_field('banner_image') %}
      <div class="{{ block_class }} pull-right main-media">
        <div class="main-media-inner" style="background-image: url({{ post.get_field('banner_image').url }});" title="{{ post.get_field('banner_image').name }}">
          <img src="{{ post.get_field('banner_image').url }}" title="{{ post.get_field('banner_image').name }}" alt>
        </div>
      </div>
      {% endif %}

      <div class="{{ block_class }} main-content">
        {% if fn('is_page') %}
          {% if title_option != "on" %}
            <h1 id="page-title">{{ post.title }}</h1>
          {% endif %}
        {% else %}
          <h1 id="page-title">{{ post.title }}</h1>
        {% endif %}

        {% if post.content %}
        <div class="block-content__body">
        {% if fn('is_cart') %}
        <div class="page-cart-action">
          {% set shop_link = fn('get_permalink', fn('wc_get_page_id', 'shop')) %}
          {% set checkout_link = fn('get_permalink', fn('wc_get_page_id', 'checkout')) %}
          <a href="{{ shop_link }}" class="shop-link"><i class="fas fa-chevron-left"></i> {{ pll_e('Continue Shopping') }}</a>
          <a href="{{ checkout_link }}" class="btn button checkout-link"><i class="fas fa-shopping-basket"></i> {{ pll_e('Checkout') }}</a>
        </div>
        <h2 class="cart-form-title hidden">{{ pll_e('My cart') }} ({{ cart_counts }})</h2>
        {% endif %}

        {{ post.content|shortcodes }}
        </div>
        {% endif %}

        {{ fn('flexible_content', 'group_component') }}
      </div>
    </div>

  {% endfor %}

  {#% if function('comments_open') %}
  {% include 'comments.twig' %}
  {{ function('comment_form') }}
  {% endif %#}

{% endblock %}

{% block bottom_panel %}
  <div class="bottom-panel">
  {{ fn('flexible_content', 'region_bottom_panel') }}
  </div>
{% endblock %}