{% extends 'layout.twig' %}

{% block content %}
  {% for post in posts %}
    {% if fn('is_page') %}
      {% if title_option != "on" %}
        <h1 id="page-title">{{ post.title }}</h1>
      {% endif %}
    {% else %}
      <h1 id="page-title">{{ post.title }}</h1>
    {% endif %}

    {% if post.content %}
    <div class="block-content__body">{{ post.content|shortcodes }}</div>
    {% endif %}

    {{ function('flexible_content', 'group_component') }}
  {% endfor %}

  {#% if function('comments_open') %}
  {% include 'comments.twig' %}
  {{ function('comment_form') }}
  {% endif %#}

{% endblock %}
