<div class="row">
  <div class="col-md-12 main-content">
    <h1 id="page-title">{{ post.title }}</h1>
    <div class="date align--center">{{ post.date }}</div>
    <div class="block-content__body">{{ post.content|shortcodes }}</div>

    {#% if related('category') %}
      <h3 class="related-title block-title">Related post</h3>
      <ul class="post-related">
        {% for post in function('related', 'category') %}
          <li><a href="{{post.link}}">{{post.title}}</a></li>
        {% endfor %}
      </ul>
    {% endif %#}

    {#% if function('comments_open') %}
    {% include 'comments.twig' %}
    {{ function('comment_form') }}
    {% endif %#}
  </div>
</div>
