<div class="block-gallery {{ component_class }}">
  <div class="block-inner">
    <div class="gallery-group-title">
      <h2 class="block-title">{{ block_title }}</h2>
      <div class="post-tags">
      {% for term in post_tags %}
        <a href="{{ fn('get_term_link', term) }}">#{{ term.name }}</a>
      {% endfor %}
      </div>
    </div>
    <div class="images-gallery">
      <div class="row image-result">
      {% include 'image-gallery-loop.twig' with {"images_gallery": images_gallery, "component_id": component_id, "counter": 7} only %}
      </div>
      <div class="show-more"><a href="#" class="show-more-link btn" data-postid="{{ current_post_id }}" data-componentid="{{ component_id }}" data-count="7">{{ pll_e('show more') }}</a></div>
      <div class="data-hidden hidden">
      <input type="hidden" name="postid" value="{{ current_post_id }}">
      <input type="hidden" name="componentid" value="{{ component_id }}">
      <input type="hidden" name="totalimages" value="{{ images_gallery|length + 1 }}">
      <input type="hidden" name="count" value="7">
      </div>
    </div>
  </div>
</div>