<div class="image-gallery-item col-md-4">
  <div class="image-gallery-item-inner">
    <div class="image-gallery-media" style="background-image: url({{ item.url }});" title="{{ item.name }}"><img src="{{ item.url }}" alt></div>
    <a class="icon-fancybox" data-fancybox="image-gallery-component-{{ component_id }}" href="{{ item.url }}"><i class="fas fa-expand-arrows-alt"></i></a>
  </div>
</div>